/*couleur hero corp*/
/*couleur fond body gris clair #D3D3D3*/
/**/

.container {
    text-align: center;
    background-color: white;
    border: 2px solid black;
    width: 800px;
    margin: auto;
    padding: 1em;
}

body{
    background-color: #D3D3D3;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

h1{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0.5em;
    padding: 0.5em;
}

#logo {
    margin: auto;
}

#logo1 {
    margin: auto;
    width: 6em;
    padding-top: 2em;
    padding-bottom: 2em;
}

main {
    background-color: #D3D3D3;
    margin: 1em;
    padding: 1em;
}

aside {
    border-top: 2px solid black;
    padding: 0.5em;
    margin: 0.5em;
}

section p {
    text-align: left;
}

footer {
    background-color: #D3D3D3;
    text-align: center;
    padding: 1em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "oswald", sans-serif;
}

a {
    padding: 1em;
}

#actors{
    padding-left: 0;
    list-style-type: none;
}

#actors a {
    color: #8b0000;
    background-color: #EEEEEE;
    font-size: 0.8em;
    display: block;
    margin-bottom: 5px;
    border-radius: 15px;
    text-decoration: none;
}

#actors a:hover {
    color: #EEEEEE;
  background-color: #8b0000;
}